@using RazorEngine.Templating
@using BoditeRender
@using System.Linq
@inherits BoditeTemplate<BoditeModel, HomePage>
@{
    var rootCat = Context.Model.Categories.TryFind("root").Value;
    
    //var rootCatPage = Context.GetPage.Invoke(new object[] { Model.Locale, rootCat }).Value;
}
<h2>HomePage: @Model.Title</h2>



<h4>@( ((IBoditeTemplate<BoditeModel>)this).Context.Model.Categories.Count )</h4>


<div>
    <h3>Root cat page</h3>

    @*<a href="@rootCatPage.Path">HERE!</a>*@

    @*@foreach(var c in rootCat.Children) {

        //need to get page from page registry...

        var page = Context.GetPage.Invoke(new object[] { Model.Locale, c }).Value;
        
        <a href="@page.Path">@c.Name.get(Model.Locale)</a>
    }*@


</div>



